---
layout: default
title : Homepage
navbar_title: Home
num_selected: 10
---
{% include widgets/profile_card.html %}
{% include widgets/url_debug_message.html %}

<!-- Experience Section (Optional) -->
<!-- {% if site.data.display.homepage.show_experience %}
 {% include widgets/experience_card.html %}
 {% endif %}  -->

 <!-- News Section -->
{% if site.data.display.homepage.show_news %}
{% assign count_news = site.news | size %}
{% if count_news > 0 %}
    {% include widgets/news_card.html %}
{% endif %}
{% endif %}



