@charset "utf-8";
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
    color: white; /* Black text color */
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    color: white; /* Ensure headers are black */
}

.text-profile-position {
    font-weight: 400;
    color: white; /* Ensure position text is black */
}

.text-profile-bio {
    font-weight: 400;
    color: white; /* Ensure bio text is black */
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 35px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
    display: inline-flex; /* Aligns text within the badge */
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.email-text {
    font-family: Courier, monospace;
}

/* Link colors */
a {
    color: #2C5F2D; /* Grey color for links */
    text-decoration: none;
}

/* Change link color on hover */
a:hover {
    color: #A8BDA5; /* Darker grey on hover */
}

.about-images {
    display: flex;
    gap: 15px; /* Adjust spacing between images as needed */
    justify-content: center; /* Center the images */
    flex-wrap: wrap; /* Allow images to wrap to the next line if needed */
}

.about-images img.rounded-image {
    border-radius: 50%;
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    border: 2px solid #fff; /* Optional: add a white border around the images */
}

.text-about-header {
    color: #A8BDA5; /* Change this to the desired color */
}

.text-about-bio {
    text-align: justify; /* Justify the text */
}

.button {
    background-color: #2C5F2D;
    color: #ffffff;
    padding: 8px 16px; /* Adjust size */
    margin: 0 auto; /* Center align */
    display: block;
}

