<h2 class="pt-4 text-activities-header" style="color: #A8BDA5;">Activities</h2>

<div class="row" style="background-color: #2C5F2D;">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-5" style="background-color: #A8BDA5; font-family: 'Poppins', sans-serif; color: white;">
                <div class="row mt-4">
                    <div class="col">
                        {% if site.data.activities %}
                            {% for activities in site.data.activities.activities %}
                                <div class="activities-item">
                                    <h3 style="font-size: 1.5rem;">
                                        <a href="{{ activities.url.Paper | default: '#' }}">{{ activities.title }}</a>
                                    </h3>
                                    <p class="activities-date">{{ activities.date | date: "%B %d, %Y" }}</p>
                                    <p>{{ activities.excerpt }}</p>
                                    {% if activities.authors %}
                                        <p>Authors: {{ activities.authors | join: ', ' }}</p>
                                    {% endif %}
                                    {% if activities.pub %}
                                        <p>Published in: {{ activities.pub }}</p>
                                    {% endif %}
                                    {% if activities.pub_date %}
                                        <p>Date: {{ activities.pub_date }}</p>
                                    {% endif %}
                                    {% if activities.pub_pre %}
                                        <p>Status: {{ activities.pub_pre }}</p>
                                    {% endif %}
                                    {% if activities.pub_post %}
                                        <p>Review Status: {{ activities.pub_post }}</p>
                                    {% endif %}
                                </div>
                                <br>
                            {% endfor %}
                        {% else %}
                            <p>No activities available.</p>
                        {% endif %}
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>
