<h2 class="pt-4 text-background-header">Background</h2>


<div class="row" style="background-color: #2C5F2D;">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-5" style="background-color: #A8BDA5; font-family: 'Poppins', sans-serif; color: white;">
                <div class="row">

                <!-- Education Section -->
                <div class="row mt-4">
                    <div class="col">
                        <h3 style="font-size: 1.5rem;">Education</h3>
                        {% for education in site.data.background.education %}
                        <div class="education-item">
                            <h4 style="font-size: 1.25rem;">
                                {{ education.position }}
                                <small>({{ education.name }}, {{ education.date }})</small>
                            </h4>
                            <p>{{ education.summary | markdownify }}</p>
                            {% if education.button %}
                            <a href="{{ education.button.url }}" class="btn btn-primary" style="background-color: #2C5F2D; border-color: #2C5F2D; font-size: 0.875rem; padding: 0.5rem 0.5rem;">{{ education.button.text }}</a>
                            {% endif %}
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                </div>

                <!-- Experience Section -->
                <!--<div class="row mt-4">
                    <div class="col">
                        <h3 style="font-size: 1.5rem;">Experience</h3>
                        {% for experience in site.data.background.experience %}
                        <div class="experience-item">
                            <h4 style="font-size: 1.25rem;">
                                {{ experience.position }}
                                <small>({{ experience.company }}, {{ experience.years }})</small>
                            </h4>
                            <p>{{ experience.description | markdownify }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div> -->
            </div>
        </div>        
    </div>
</div>
