<h2 class="pt-4 text-publications-header">Recent Publications</h2>
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-star"></i> Selected Recent Publications
        <a href="{{ '/publications' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    {% assign recent_publications = site.publications | sort: 'date' | reverse %}
    {% for item in recent_publications limit:5 %}  <!-- Adjust limit as needed -->
        {% include widgets/publication_item.html item=item %}
    {% endfor %}
    <h6 class="d-block p-3 mt-0 text-right">
        <a href="{{ '/publications' | relative_url }}">All publications <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>

